/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para o conteúdo principal */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.content h1 {
    color: #333;
}

.content p {
    font-size: 18px;
    line-height: 1.5;
}

.content img {
    margin-top: 20px;
}

.content h2 {
    color: #333;
}

.content ul {
    list-style-type: disc;
    text-align: left;
    margin-left: 40px;
}

.logo-arredondado {
    width: 200px;
            height: 200px;
            border-radius: 50%; /* Arredonda completamente o logotipo */
            overflow: hidden; /* Garante que a imagem fique dentro do círculo */
}

/* Estilos para as informações (inicialmente ocultas) */
.informacoes {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
